<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login Form</h1>
    <form method="POST" action="/users/login">
      <label for="username">Username : </label>
      <input type="email" name="username" />
      <br />
      <label for="password">Password : </label>
      <input type="password" name="password" />
      <br />
      <button type="submit">Login</button>
    </form>

    <br />
    <p>Need new account <a href="/users/signup">Sign-up here</a></p>
  </body>
</html>
