<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Welcome to your profile page</h1>

    <a href="/users/logout">Logout</a>
  </body>
</html>
