html,
body {
  margin: 0;
  padding: 0;
}
.container {
  box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.15);
  width: 400px;
  margin: 0 auto;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: stretch;
  margin: 20px 12px;
  margin-bottom: 20px;
}

#taMsg {
  background-color: lightgoldenrodyellow;
  width: 100%;
}
#txtMsg {
  padding: 8px;
  margin-right: 6px;
  width: 80%;
}
.btn {
  border: none;
  background-color: gold;
  color: #fff;
  padding: 0 8px;
}

.btn:hover {
  background-color: goldenrod;
}
