.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: goldenrod;
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 12px;
  margin: 8px;
  background-color: grey;
}

a {
  color: #fff;
  text-decoration: none;
}
