<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Template</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <br />
    <div class="container">
      <h1>EJS Works!</h1>
      <h4>Username : <%= username %></h4>
      <h5>Age : <%= age %></h5>
      <h6>My Friends :</h6>
      <% if (friends.length > 0) { %>
      <ul>
        <% friends.forEach(friend => { %>
        <li><%= friend %></li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>Wanna be friend...</p>
      <% } %>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
